<% include ../partials/header.ejs %>

<div class="container camp-detail-container" >
    <div class="row" >
        <div id="left-menu" class="col-sm-12 col-md-3">
            <div class="camp-detail-left-menu">
                <div class="list-group">
                    <a href="#" class="list-group-item active">
                        Menu
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
                    <a href="#" class="list-group-item list-group-item-action">Morbi leo risus</a>
                    <a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
                </div>
            </div>
        </div>
        <div id="right-content" class="col-sm-12 col-md-9 float-md-right">
            <div class="card">
                <img class="card-img-top camp-detail-img" src="<%= camp.image %>">
                <div class="card-block">
                    <h4 class="card-title"> <%= camp.name %></h4>
                    <p class="card-text"> <%= camp.description %></p>
                    <p class="card-text">
                        <small class="text-muted"><%= camp.created.toDateString() %></small>
                        <br>
                        <small class="text-muted">created by <%= camp.author.name %></small>
                    </p>

                    <div class="float-xs-right pull-xs-12 camp-detail-updateRemove">
                        <a class="btn btn-primary btn-md" role="button" href="/camps/<%= camp._id %>/edit">Edit</a>
                        <form class="d-inline" action="/camps/<%= camp._id %>?_method=DELETE" method="POST">
                            <button class="btn btn-danger btn-md" role="button" type="submit">Remove</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="card bg-faded">
                <div class="comment-container">
                    <form action="/camps/<%= camp.id %>" method="post">
                        <h4 id="leave-a-comment-label">Leave a comment</h4>

                        <div class="form-group">
                            <textarea class="form-control" name="comment[content]" rows="3"
                                      placeholder="Comment"></textarea>
                        </div>

                        <div class="text-xs-center">
                            <button class="btn btn-primary btn-lg btn-block" role="button" type="submit">Submit
                            </button>
                        </div>
                        <div class="comment-group">
                            <% camp.comments.forEach(function (comment) { %>
                            <div class="comment">
                                <div class="comment-name">
                                    <b><%= comment.author.name %></b>
                                </div>
                                <div class="comment-content">
                                    <%= comment.content %>
                                </div>
                                <hr class="comment-hr">
                            </div>
                            <% }) %>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div id="left-other" class="col-sm-12 col-md-3 float-md-left">
            <div class="alert alert-success" role="alert" style="margin-top: 5px">
                <strong>Well done!</strong> Just for learning purpose!
            </div>
        </div>
    </div>
</div>

<% include ../partials/footer.ejs %>